.field{
  width: 300px;
  padding-bottom: 40px;
}

.colour-border{
  border: 3px solid rgb(19, 20, 19);
  padding: 10px;
}

.header{
  padding: 1000px;
}

body{
  padding: 10px;
  background-color: rgb(119, 224, 105);
}

