.field{
  width: 300px;
  padding-bottom: 20px;
}

.colour-border{
  border: 3px solid rgb(86, 211, 61);
  padding: 10px;
}

.header{
  padding: 1000px;
}

body{
  padding: 10px;
  background-color: rgb(72, 62, 207);
}

